.image {
    position: relative;
    width: 20%;
}
.picture {
    display: block;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    backdrop-filter: blur(5px);
}
.overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.overlay:hover {
    opacity: 1;
}
.overlay:hover > * {
    transform: translateY(0);
}
.place {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}
.description {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.row {
    display: flex;
    flex-direction: row;
}
body {
    background-color: black;
    color: white;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}